@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
body{
    font-family: 'Lato', sans-serif;
}

$accent_color: #F16D7F;

.container{
    margin: 0 auto;
    width: 1170px;
    padding: 0px 15px;
    box-sizing: border-box;
}