@import 'reset';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {

    background-color: rgb(213, 216, 221);
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.nav1{
    min-height: 100vh;
}
.nav {
    background-color: #222;
    height: 100px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav__list {
    display: flex;
    gap: 40px;
}

.nav__list-link {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;

    &:hover {
        color: orange;
    }
}


.main {
    min-height: 100vh;
}